<div class="card">
  <div class="card-header">Užsiregistravę vaikai</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Vardas, Pavardė</th>
          <th>Gimimo metai</th>
          <th>Lytis</th>
          <th>El. paštas</th>
          <th>Tel. nr.</th>
          <th>Klasė</th>
          <th>Veiksmai</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let child of list">
          <td>{{ child.name }}</td>
          <td>{{ child.birthYear }}</td>
          <td>{{ child.gender }}</td>
          <td>{{ child.email }}</td>
          <td>{{ child.phoneNumber }}</td>
          <td>{{ child.grade }}</td>
          <td>
            <a [routerLink]="['/edit', child.id]" class="btn btn-warning"
              >Redaguoti</a
            >
            <button
              class="btn btn-danger ms-2"
              (click)="showConfirmationModal(child.id)"
            >
              Ištrinti
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  *ngIf="showModal"
  class="modal"
  [ngStyle]="{ display: 'block', 'background-color': 'rgba(0, 0, 0, 0.7)' }"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">TRINTI VAIKO DUOMENIS</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Ar tikrai norite ištrinti vaiko duomenis?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onClose()"
        >
          Uždaryti
        </button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">
          TRINTI
        </button>
      </div>
    </div>
  </div>
</div>
