<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12 mt-5">
    <div class="card">
      <div class="card-header">Slaptažodžio keitimas</div>
      <div class="card-body">
        <div class="alert alert-danger" *ngIf="!!error">{{ error }}</div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="mb-3">
            <label for="" class="form-label">Slaptažodis</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              minlength="6"
              required
              [(ngModel)]="password"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Pakartoti slaptažodį</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="passwordConfirm"
              minlength="6"
              required
              [(ngModel)]="passwordConfirm"
            />
          </div>
          <button
            type="submit"
            class="btn btn-info"
            [disabled]="!form.valid || password !== passwordConfirm"
          >
            Pakeisti
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
