<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12 mt-5">
    <div class="card">
      <div class="card-header">
        {{ loginMode ? "Prisijungimas" : "Registracija" }}
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="mb-3">
            <label for="" class="form-label">El. pašto adresas</label>
            <input
              type="email"
              class="form-control"
              ngModel
              name="email"
              email
              required
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Slaptažodis</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              minlength="6"
              required
              [(ngModel)]="password"
            />
          </div>
          <div class="mb-3" *ngIf="!loginMode">
            <label for="" class="form-label">Pakartoti slaptažodį</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="passwordConfirm"
              minlength="6"
              required
              [(ngModel)]="passwordConfirm"
            />
          </div>
          <button
            type="submit"
            class="btn btn-info"
            [disabled]="
              loginMode
                ? !form.valid
                : !form.valid || password !== passwordConfirm
            "
          >
            {{ loginMode ? "Prisijungti" : "Registruotis" }}
          </button>
          <button
            type="button"
            class="btn btn-warning float-end"
            (click)="loginMode = !loginMode"
          >
            {{
              !loginMode
                ? "Turite paskyrą? Prisijunkite"
                : "Dar neturite paskyros? Užsiregistruokite."
            }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
