<div class="card">
  <div class="card-header">Registrukite vaiką į stovyklą!</div>
  <div class="card-body">
    <form (ngSubmit)="registrationSubmit(form)" #form="ngForm">
      <div class="mb-3">
        <label class="form-label">Vaiko vardas, pavardė</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="name"
          required
          minlength="3"
          maxlength="15"
          #inputName="ngModel"
        />
        <span class="help-block" *ngIf="!inputName.valid && inputName.touched"
          >Negali būti trumpesnis nei 3 ir ilgesnis nei 15 simbolių.</span
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Vaiko gimimo metai</label>
        <input
          type="number"
          class="form-control"
          ngModel
          name="birthYear"
          required
          min="2004"
          maxlength="2022"
          #inputYear="ngModel"
        />
        <span class="help-block" *ngIf="!inputYear.valid && inputYear.touched"
          >Negali būti anksčiau nei 2004 m. ir vėliau nei einamieji metai</span
        >
      </div>
      <div class="mb-3">
        <p>Vaiko lytis:</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="male"
            ngModel
          />
          <label class="form-check-label" for="male"> Berniukas </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            value="female"
            ngModel
          />
          <label class="form-check-label" for="female"> Mergaitė </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Jūsų el. paštas</label>
        <input
          type="email"
          class="form-control"
          ngModel
          email
          name="email"
          required
          #inputEmail="ngModel"
        />
        <span class="help-block" *ngIf="!inputEmail.valid && inputEmail.touched"
          >Turi būti validus el. pašto adresas</span
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Jūsų telefono nr.</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="phoneNumber"
          required
          minlength="10"
          maxlength="12"
          placeholder="+370 6XX XXXXX"
          #inputPhone="ngModel"
        />
        <span class="help-block" *ngIf="!inputPhone.valid && inputPhone.touched"
          >Tel. nr. negali būti trumpesnis nei 10 ir ilgesnis nei 12
          simbolių.</span
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Kurioje klasėje yra Jūsų vaikas?</label>
        <input
          type="number"
          class="form-control"
          ngModel
          name="grade"
          required
          min="5"
          max="12"
          #inputClass="ngModel"
        />
        <span class="help-block" *ngIf="!inputClass.valid && inputClass.touched"
          >Vaikas turi būti ne mažesnėje nei 5 klasėje</span
        >
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Registruoti į stovyklą
      </button>
    </form>
  </div>
</div>
